<div mat-dialog-title>{{ "BID.OPEN_AUCTION" | translate }}</div>
<mat-dialog-content>
  <div class="content pt-2">
    <form id="BidStartForm" [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-group row">
        <div class="col-sm-12 col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label for="Title">{{
              "LABELS.BID.TITLE" | translate
            }}</mat-label>
            <input
              matInput
              type="text"
              formControlName="Title"
              maxlength="50"
              required
            />
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label for="MinPrice">{{
              "LABELS.BID.MINPRICE" | translate
            }}</mat-label>
            <input
              matInput
              type="textbox"
              formControlName="MinPrice"
              numeric
              [decimals]="2"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12 col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <label class="form-check-label" for="flexCheckDefault">
              {{ "LABELS.BID.HASINCREASEREST" | translate }}
              <input [hidden]="true" matInput />
            </label>
            <input
              class="form-check-input mx-5 scale-up-center"
              type="checkbox"
              formControlName="HasIncreaseRest"
              id="flexCheckDefault"
            /> 
          </mat-form-field>
        </div>
        <div *ngIf="form.value.HasIncreaseRest" class="col-sm-12 col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label  for="MinPriceIncrease">
              {{ "LABELS.BID.INCREASEREST" | translate }} 
            </mat-label >
            
            <input
              matInput
              type="textbox"
              formControlName="MinPriceIncrease"
              numeric
              [decimals]="2"
              [required]="form.value.HasIncreaseRest"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12 col-lg-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label for="Description">{{
              "LABELS.BID.DESCRIPTION" | translate
            }}</mat-label>
            <textarea
              matInput
              type="textarea"
              formControlName="Description"
              maxlength="750"
              required
              rows="4"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <mat-dialog-actions>
    <button
      form="BidStartForm"
      id="login"
      type="submit"
      mat-flat-button
      color="primary"
      mat-button
    >
      send
      <!-- <span *ngIf="!(IsLoading$ | async)">{{'AUTH.LOGIN' | translate}}</span>
        <span *ngIf="(IsLoading$ | async)" class="spinner-border spinner-border-sm"></span>&nbsp;<span *ngIf="(IsLoading$ | async)" [translate]="'GENERAL.LOADING'">Loading...</span> -->
    </button>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true">Delete</button>
  </mat-dialog-actions>
</mat-dialog-content>
