.vs*
bin*
obj*
/src/Services/NotificationService/Bidder.Notification.Api/appsettings.json
/src/Services/IdentityService/Bidder.IdentityService.Api/appsettings.json
/src/Services/NotificationService/Bidder.Notification.Api/appsettings.Development.json
/src/Services/IdentityService/Bidder.IdentityService.Api/appsettings.Development.json
/src/Services/IdentityService/Bidder.IdentityService.Api/appsettings.Test.json
/src/Services/BidService/Bidder.BidService.Api/appsettings.json
/src/Services/BidService/Bidder.BidService.Api/appsettings.Development.json
/src/Services/BidService/Bidder.BidService.Api/appsettings.Test.json
/src/Services/SignalRHub/Bidder.SignalR.Api/appsettings.json
/src/Services/SignalRHub/Bidder.SignalR.Api/appsettings.Development.json
/src/Services/SignalRHub/Bidder.SignalR.Api/appsettings.Test.json
/src/Services/ApiGateway/Bidder.ApiGateway/appsettings.json
/src/Services/ApiGateway/Bidder.ApiGateway/appsettings.Development.json
/src/Services/ApiGateway/Bidder.ApiGateway/appsettings.Test.json
/Services.txt
*Log/