.mat-drawer {
  background-color: $sidebarbg;
}

.mat-drawer-container {
  background-color: $background;
}


.mat-mdc-dialog-surface { 
  color: $background !important;
  background-color: $background !important;
}